[defaults]
inventory = inventory
force_valid_group_names = always

use_persistent_connections = true

# Make sure password files have read-only permissions only for owner (aka chmod 400).
vault_identity_list = ilyfam@./files/vault/password, paakaa.family@./families/paakaa.family/files/vault/password

# Use the YAML callback plugin.
stdout_callback = yaml
# Use the stdout_callback when running ad-hoc commands.
bin_ansible_callbacks = true

cow_selection = random

[ssh_connection]
pipelining = true

[tags]
skip = never
