[defaults]
inventory = ./inventory, ./families/paakaa.family/inventory
# Make sure password files have read-only permissions only for owner (aka chmod 400).
vault_identity_list = ilyfam@./files/vault/password, paakaa.family@./families/paakaa.family/files/vault/password

force_valid_group_names = always

strategy = linear
# debug, free, host_pinned, linear

display_skipped_hosts = no
callbacks_enabled = ansible.posix.profile_tasks
# ansible.posix.profile_roles, ansible.posix.timer

# Use the YAML callback plugin.
stdout_callback = community.general.yaml
# Use the stdout_callback when running ad-hoc commands.
bin_ansible_callbacks = true

# Please pardon the interruption.
cow_selection = random

forks = 20

timeout = 60
use_persistent_connections = true
[ssh_connection]
pipelining = true
